<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCN9VjJBNHQg8MRBFmUqm3amDeGi9Blde4</string>
	<key>GCM_SENDER_ID</key>
	<string>648657626610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>limafer.Shop</string>
	<key>PROJECT_ID</key>
	<string>shopapp-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648657626610:ios:97040bf22c7206aacf776b</string>
</dict>
</plist>